## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

## BIOS files
DISK.ROM
FMBIOS.ROM
KNJDRV.ROM
KNJFNT16.ROM
MSX2.ROM
MSX2J.ROM
MSX2EXT.ROM
MSX2P.ROM
MSX2PEXT.ROM
MSXDOS2.ROM
MSXDOS2P.ROM

