[submodule "test/google-benchmark/benchmark"]
	path = test/google-benchmark/benchmark
	url = https://github.com/google/benchmark.git
[submodule "tools/circle"]
	path = tools/circle
	url = https://github.com/rsta2/circle
[submodule "tools/circle8"]
	path = tools/circle8
	url = https://github.com/rsta2/circle
